{% extends 'masterpage.html' %}

{% block title %}
<title>ARBUDA | Contract Master </title>
{% endblock %}

{% block content %}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl grow container-p-y">
        <div class="header d-flex justify-content-between align-items-center mb-4">
            <h4 class="fw-bold py-3 mb-0"><span class="text-muted fw-light"></span> Contracts</h4>
            <button type="button" class="btn btn-primary" style="height: 40px;"><a href="new-contract-form"
                    class="text-white text-decoration-none">Add Contract</a></button>
        </div>
        <!-- <div class="filter-tab mb-4 d-flex align-items-center gap-2">
            <h5 class="mb-0 me-2">Filters </h5>
            <button type="button" class="btn btn-primary" style="height: 40px;"><a href="users"
                    class="text-white text-decoration-none">All</a></button>
            <button type="button" class="btn btn-primary" style="height: 40px;"><a href="?filter=admin"
                    class="text-white text-decoration-none">admin</a></button>
            <button type="button" class="btn btn-primary" style="height: 40px;"><a href="?filter=client"
                    class="text-white text-decoration-none">client</a></button>
            <button type="button" class="btn btn-primary" style="height: 40px;"><a href="?filter=distributor"
                    class="text-white text-decoration-none">distributor</a></button>
        </div> -->
        <!-- Responsive Table -->
        <div class="card" style="overflow: auto;
    height: 345px;">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead style="position: sticky;
    top: 0px;
    background: white;
    outline: 2px solid #d9dee3;">
                        <tr class="text-nowrap">
                            <th>sr. no.</th>
                            <th style="text-align: center;">Actions</th>
                            <th>Contract No.</th>
                            <th>Vendor Code</th>
                            <th>Company Name</th>
                            <th>Gst no.</th>
                            <th>pan no.</th>
                            <th>Bill serise</th>
                            <th>Rate Type</th>
                            <th>From Center</th>
                            <th>contract <br> start date</th>
                            <th>contract <br> end date</th>
                            <th>Unloading <br> Charge 1</th>
                            <th>Unloading <br> Charge 2</th>
                            <th>loading <br> Charge </th>
                            <th>Contact <br> Person <br> Designation</th>
                            <th>Contact <br> Email</th>
                            <th>Contact <br> Mobile</th>
                            <th>Address</th>
                            <th>created at</th>

                        </tr>
                    </thead>
                    <tbody style="border-bottom: none;">
                        {% for contract in all_contract %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td style="text-align: center; ">

                              <a href="update-contract-form?contract_id={{ contract.id }}">
                                    <button style="text-align: center; padding: 5px 10px;" type="button"
                                        class="btn btn-outline-primary"><i class='bx  bx-edit'
                                            style="font-size: 1rem;"></i>
                                    </button>
                                </a>
                                <!-- <button style="text-align: center; padding: 5px 10px;" type="button"
                                    class="btn btn-outline-primary" data-bs-toggle="modal"
                                    data-bs-target="#modalCenter{{ contract.id }}delete"><i class='bx  bx-trash'
                                        style="font-size: 1rem;"></i></button> -->
                                <div class="modal fade" id="modalCenter{{ contract.id }}delete" tabindex="-1"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalCenterTitle">Delete
                                                    {{ contract.tender_title }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-start">
                                                Are you sure for deleting this User ? <br>
                                                if you delete this contract all entries linked with it will be deleted
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary"
                                                    data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <a href="?delete={{ contract.id }}"><button style="text-align: center;"
                                                        type="button" class="btn btn-primary">Delete</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{ contract.contract_no }}</td>
                            <td>{{ contract.vendor_code }}</td>
                            <td>{{ contract.company_name }}</td>
                            <td>{{ contract.gst_number }}</td>
                            <td>{{ contract.pan_number }}</td>
                            <td>{{ contract.bill_series_from }} - {{ contract.bill_series_to }}</td>
                            <td>{{ contract.rate_type }}</td>
                            <td>{{ contract.from_center }}</td>
                            <td>{{ contract.c_start_date|date:'Y-m-d' }}</td>
                            <td>{{ contract.c_end_date|date:'Y-m-d' }}</td>
                            <td>{{ contract.unloading_charge_1 }}</td>
                            <td>{{ contract.unloading_charge_2 }}</td>
                            <td>{{ contract.loading_charge }}</td>
                            <td>{{ contract.c_designation }}</td>
                            <td>{{ contract.c_email }}</td>
                            <td>{{ contract.c_number }}</td>
                            <td>{{ contract.billing_address }}</td>
                            <td>{{ contract.created_at }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Responsive Table -->
    </div>
    <!-- / Content -->



    <div class="content-backdrop fade"></div>
</div>


{% endblock %}